<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SeatsMapper">
    
    <resultMap type="Seats" id="SeatsResult">
        <result property="seatId"    column="seat_id"    />
        <result property="auditoriumId"    column="auditorium_id"    />
        <result property="rowNumber"    column="row_number"    />
        <result property="seatNumber"    column="seat_number"    />
    </resultMap>

    <sql id="selectSeatsVo">
        select seat_id, auditorium_id, row_number, seat_number from seats
    </sql>

    <select id="selectSeatsList" parameterType="Seats" resultMap="SeatsResult">
        <include refid="selectSeatsVo"/>
        <where>  
            <if test="auditoriumId != null "> and auditorium_id = #{auditoriumId}</if>
            <if test="rowNumber != null "> and row_number = #{rowNumber}</if>
            <if test="seatNumber != null "> and seat_number = #{seatNumber}</if>
        </where>
    </select>
    
    <select id="selectSeatsBySeatId" parameterType="Long" resultMap="SeatsResult">
        <include refid="selectSeatsVo"/>
        where seat_id = #{seatId}
    </select>
        
    <insert id="insertSeats" parameterType="Seats" useGeneratedKeys="true" keyProperty="seatId">
        insert into seats
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="auditoriumId != null">auditorium_id,</if>
            <if test="rowNumber != null">row_number,</if>
            <if test="seatNumber != null">seat_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="auditoriumId != null">#{auditoriumId},</if>
            <if test="rowNumber != null">#{rowNumber},</if>
            <if test="seatNumber != null">#{seatNumber},</if>
         </trim>
    </insert>

    <update id="updateSeats" parameterType="Seats">
        update seats
        <trim prefix="SET" suffixOverrides=",">
            <if test="auditoriumId != null">auditorium_id = #{auditoriumId},</if>
            <if test="rowNumber != null">row_number = #{rowNumber},</if>
            <if test="seatNumber != null">seat_number = #{seatNumber},</if>
        </trim>
        where seat_id = #{seatId}
    </update>

    <delete id="deleteSeatsBySeatId" parameterType="Long">
        delete from seats where seat_id = #{seatId}
    </delete>

    <delete id="deleteSeatsBySeatIds" parameterType="String">
        delete from seats where seat_id in 
        <foreach item="seatId" collection="array" open="(" separator="," close=")">
            #{seatId}
        </foreach>
    </delete>
</mapper>